<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink ="/nombre">Nome</a>
      <a mat-list-item routerLink ="/datos">Datti</a>
      <a mat-list-item routerLink ="/contacto">Contatto</a>
      <a mat-list-item routerLink ="/direccion">Indirizzo</a>
      <a mat-list-item routerLink ="/credenciales">Credenziali</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Portfolio</span>
    </mat-toolbar>
    <!-- Add Content Here  Aqui abajo añado el router-outlet para enlazar con el router-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
